
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td align="" class="card-head" colspan="4" style="padding: 4px;">
        <b class="card-heading" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:22px; font-weight:300;color:#808080;">
          <%= title %>
        </b>
      </td>
    </tr>
    <tr>
      <td align="" style="padding: 4px;" colspan="4">
        <b class="card-value chameleon-heading" style="font-family:Arial, Helvetica, sans-serif; font-size:32px; line-height:38px; font-weight:300;color:#065d8c;"> 
          <%= value %>
        </b>
      </td>
    </tr>
    <tr>
      <td align="" style="padding: 4px;" colspan="4">
        <div class="change">
          <%= subValue1 ||= '' %>
          <span class="change-label">
            <%= subLabel1 ||= '' %>
          </span>
        </div>
      </td>
    </tr>
    <tr>
      <td align="" style="padding: 4px;" colspan="4">
        <div class="change">
          <%= subValue2 ||= '' %>
          <span class="change-label">
            <%= subLabel2 ||= '' %>
          </span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
