
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="">
      <td align="" class="card-head" colspan="4">
        <span class="card-heading">
          <%= title %>
        </span>
      </td>
    </tr>
    <tr style="">
      <td align="" style="padding: 4px;" colspan="4">
        <span class="card-value chameleon-heading"><%= value %></span>
        <span class="change <%= change_class(subValue1 ||= '', isPotential ||= false) %>">
          <%= subValue1.html_safe ||= '' %>
        </span>
      </td>
    </tr>
    <tr style="">
      <td align="" style="" colspan="4">
        <div class="change-label">
          <%= subValue2 ||= '' %>
          <%= subLabel2 ||= '' %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
