
<tr style="color: #666">
  <td align="right" width="65px" style="padding: 6px 4px">
    <span style="font-size: 14px; background: #fdfdbd; border-radius: 10px; padding: 4px 6px; font-weight: 400; color: #a09900">
      <%= number_to_currency(item.price_after_discount / 100) %>
    </span>
  </td>
  <td style="font-size: 14px; padding: 6px 0">
    <a href="mailto:<%= item.stripe_customer.email %>" class="mobile-hide">
      📧<span> </span>
    </a>
    <a href="https://dashboard.stripe.com/customers/<%= item.stripe_customer_id %>">
      <%= item.stripe_customer.email %>
    </a>
  </td>
  <td width="75px" style="font-size: 12px; color: #999">
    <% if(item.days_til_conversion) %>
      In <%= item.days_til_conversion %> days
    <% end %>
  </td>
</tr>

