<tr>
  <td align="center" class="mp0x5" style="padding: 0 30px;">
    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td align="center" class="mobile-pb30" style="padding-left: 11px; padding-right: 11px; padding-bottom: 40px;">
            <table border="0" cellpadding="0" cellspacing="0" class="board chameleon-line" height="100%" style="border-radius: 8px; background-color: #fff" width="100%">
              <tbody class="board__body">
                <tr class="board__row">
                  <td class="board__cell" style="min-width: 174px; text-align: center;" valign="top" width="174">

                    <!-- left inner -->
                    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                      <tbody>
                        <tr>
                          <td align="center" style="padding: 20px 18px 19px;" valign="top">

                            <!-- stat -->
                            <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                              <tbody>
                                <tr>
                                  <td class="stat-head" colspan="6" style="padding-bottom: 8px; text-align: center;">
                                    <span class="card-heading" style="">
                                      <%= title %>
                                    </span>
                                  </td>
                                </tr>
                                <tr style="">
                                  <td width="50%">
                                  </td>
                                  <td width="25px" >
                                    <span class="chameleon-heading" style="font-family:Helvetica, sans-serif; font-size:36px; line-height:32px; font-weight:100;padding-right: 4px; color:#065d8c;">
                                      <%= list[:data].length %>
                                    </span>
                                  </td>
                                  <td width="50%" style="text-align: left; vertical-align: bottom">
                                    <span class="change <%= change_class(list[:totalValue] ||= '', isPotential ||= false, isNegative ||= false) %>">
                                      <%= currency_formatter(list[:totalValue] / 100, isPotential ||= false, isNegative ||= false).html_safe %>
                                    </span>
                                  </td>
                                </tr>
                              </tbody>
                            </table> <!--/stat -->
                          </td>
                        </tr>
                      </tbody>
                    </table> <!--/left inner -->

                  </td>
                </tr>
                <tr class="board__row">
                  <td class="board__cell chameleon-line" style="border-top: 1px solid #E5E5E5;" valign="top" width="340">

                    <!-- right inner -->
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td align="" class="days-chart-column" style="padding: 20px 16px 22px 17px;" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" style="" width="100%">
                              <tbody>
                                <tr>
                                  <td>
                                    <table width="100%" style="table-layout: fixed">
                                      <%= render partial: 'customer_list', collection: list[:data], as: :item, locals: { hideConversionDate: (defined?(hideConversionDate) ? hideConversionDate : false), isPotential: (isPotential ||= false), isNegative: (isNegative ||= false) } %>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table> <!--/right inner -->
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
